registry=https://ehi1.jfrog.io/ehi1/api/npm/npm/
email=ssmythe@employers.com
always-auth=true
strict-ssl=true
//ehi1.jfrog.io/ehi1/api/npm/npm/:_auth=YWRtaW46QVAzNXBtVHZSYTY4d0dvVFZnZXhpd2pTQlpD
